@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: rgba(164, 255, 232, 0.993);
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #fd9f9f;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cc96ff;
}